<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Junior</a>

        <div class="nav__menu" [ngClass]="showMenu ? 'show-menu ':'hide-menu'">
            <ul class="nav__list grid">
                <li class="nav__item" *ngFor="let item of itemsMenu">
                    <a href="#" (click)="cambioEstadoNav()" class="nav__link"><i class="{{item.icono}} nav__icon"></i>
                        {{item.nombre}}</a>
                </li>
            </ul>
            <i class="fas fa-times nav__close" (click)="cambioEstadoNav()"></i>
        </div>
        <div class="nav__btns" (click)="cambioEstadoNav()">
            <div class="nav__toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>